header {
    grid-area: "header";
}

.body {
    background-image: url(../assets/background.jpg);
}

#grid {
    display: grid;
    grid-template-areas: "header, header, sociales"
        "nav, nav, nav"
        "content, content, content"
        "footer, footer, footer"
    ;
}


sociales{
    grid-area: "sociales";
}

nav {
    grid-area: "nav";
}



footer {
    grid-area: "footer";
}



.lista {
    padding: 3rem 3rem 3rem 3rem;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    background-color: orange;
 
}

.form {
    display: flex;
    justify-content: center;
    background-color: orange;
    margin: 3rem;
    padding: 2rem;
}
